<ion-header>
	<ion-toolbar>
		<ion-title>Favorite Recipes</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

	<ion-list *ngIf="displayedFavRecipe.length > 0; else elseBlock" class="product-card-list">
		<div  *ngFor="let recipe of displayedFavRecipe; index as i;">
			<ion-item class="product-card" (press)="onPressitem(recipe)" (click)="openRecipeWithState(recipe)"
				lines="none">
				<img src="{{ recipe.image }}" alt="">
				<div class="product-card-body">
					<h3 class="product-card-title">{{ recipe.title }}</h3>
					<span class="product-card-id">{{ recipe.id }}</span>
				</div>
				<div *ngIf="!ishidden">
					<ion-checkbox slot="end" [(ngModel)]="recipe.isChecked"></ion-checkbox>
				</div>
			</ion-item>
		</div>
	</ion-list>
	<ng-template #elseBlock>
		<p>Vous n’avez aucun favori.</p>
	</ng-template>
</ion-content>