<ion-header>
  <ion-toolbar>
    <ion-title>Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="recipe-image" src="{{data.image}}" alt="">
  <div class="ion-padding">
    <div class="recipe-container">
      <header>
        <h2 class="recipe-name">{{data.title}}</h2>
        <span class="recipe-source"><a href="{{data.link}}">View source</a></span>
      </header>
      <main>
        <br>
        <div class="section-header">
          <h3 class="header-title">Ingredients</h3>
        </div>
        <hr>
        <ul class="ingredient-list">
          <li class="ingredient-item" *ngFor="let ingredient of data.ingredients">{{ingredient}}</li>
        </ul>

        <div class="section-header">
          <h3 class="header-title">Instructions</h3>
        </div>
        <hr>
        <p class="recipe-instructions">
          <li *ngFor="let instruction of data.instructions">{{instruction}}</li>
        </p>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="addOrRemoveToFavorite()" color="warning">
            <ion-icon *ngIf="isFavorite; else elseBlock" name="star"></ion-icon>
            <ng-template #elseBlock><ion-icon name="star-outline"></ion-icon></ng-template>
          </ion-fab-button>
        </ion-fab>
      </main>
    </div>
  </div>
</ion-content>