<ion-header>
  <ion-toolbar>
    <ion-title>Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="recipe-image" src="https://www.themealdb.com/images/media/meals/wyxwsp1486979827.jpg" alt="">
  <div class="ion-padding">
    <div class="recipe-container">
      <header>
        <h2 class="recipe-name">Chicken and rice</h2>
        <span class="recipe-source"><a href="#">View source</a></span>
      </header>
      <main>
        <br>
        <div class="section-header">
          <h3 class="header-title">Ingredients</h3>
        </div>
        <hr>
        <ul class="ingredient-list">
          <li class="ingredient-item">Chiken</li>
          <li class="ingredient-item">Rice</li>
        </ul>

        <div class="section-header">
          <h3 class="header-title">Instructions</h3>
        </div>
        <hr>
        <p class="recipe-instructions">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ipsum amet impedit ipsa dolorum accusamus unde
          perferendis rem, eaque ea quaerat similique veritatis. Amet animi hic ipsa odit rem cupiditate?
        </p>
      </main>
    </div>
  </div>
</ion-content>