<ion-header>
  <ion-toolbar>
    <ion-title>Product</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <img class="product-image" src="{{data.image}}" alt="">
  <div class="ion-padding">
    <div class="product-container">
      <h2>{{data.name}}</h2>
    </div>
  </div>
</ion-content> -->

<ion-content>
  <img class="product-image" src="{{dataProduct.image}}" alt="">
  <div class="ion-padding">
    <div class="product-container">
      <header>
        <span class="product-code">{{dataProduct.id}}</span>
        <h2 class="product-name">{{dataProduct.name}}</h2>
        <span class="product-brand">{{dataProduct.brand}}</span>
      </header>
      <main>
        <br>
        <div class="section-header">
          <h3 class="header-title">Recipes</h3>
        </div>
        <hr>
        <div *ngIf="recipes.length > 0; else elseBlock" class="recipe-card-list">

          <ion-list class="recipe-card"  (click)="openRecipeWithState(recipe)" *ngFor="let recipe of recipes">
            <img src={{recipe.image}} alt="">
            <div class="recipe-card-body">
              <h3 class="recipe-card-title">{{recipe.title}}</h3>
            </div>
          </ion-list>
          <ion-infinite-scroll threshold="100px" (ionInfinite)="AddRecipe($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading more data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
        
        <ng-template #elseBlock>
          <p>Aucune recette n’a été trouvée pour ce produit.</p>
        </ng-template>
          
      </main>
    </div>
  </div>
</ion-content>