<ion-header>
  <ion-toolbar>
    <ion-title>
      Recipify
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p>{{ data }}</p>

  <fwf-button (clicked)="scan()"></fwf-button>
  <!-- 
  <ion-item>
    <ion-label fixed>Value barCode:</ion-label>
    <ion-input type="text" value="" [(ngModel)]="num"></ion-input>
  </ion-item> -->

  <header>
  <h2 class="header-title">Scan history</h2>
  <ul class="header-actions">
    <li (click)="clear()"><ion-icon name="md-trash"></ion-icon></li>
  </ul>
  </header>
  <hr>
  

  <div class="product-card-list">

    <div class="product-card" *ngFor="let item of productsToDisplay"> 
      <img src="{{ item.data.image }}" alt="">
      <div class="product-card-body">
        <h3 class="product-card-title">{{ item.data.name }}</h3>
        <span class="product-card-id">{{ item.data.id }}</span>
      </div>
    </div>

  </div>


  <ion-infinite-scroll  threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content class="ispinner"
      loadingSpinner="crescent" >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>